body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px 50px;
  box-sizing: border-box;
}

.content {
  text-align: center;
  width: 100%;
}

.content h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  color: #888;
  margin-bottom: 30px;
}

button {
  width: 100%;
  padding: 14px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.create-btn {
  background-color: #8000ff;
  color: white;
}

.login-btn {
  background-color: #e3c9ff;
  color: #2e1065;
}